{% extends "layout.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<div class="jumbotron">
<h1>簡易時給計算サイト</h1>
</div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ul class="nav navbar-nav">
  <li><a class="nav-item nav-link" href="/login">ログイン</a></li>
  <li><a class="nav-item nav-link" href="/">簡易的な給与チェック</a></li>
  <li><a class="nav-item nav-link" href="/kiroku">勤怠記録</a></li>
  <li><a class="nav-item nav-link" href="/kinmu">勤務場所登録</a></li>
</ul>
</nav>
<br><br>
<center>
<img src="img/main.jpg" class="img-fluid">
<br><br><br><br>
<h2>ログイン</h2>
</p>
<br>
<div class="mb-3">
<form action="/login" method="POST" enctype="multipart/form-data">
  <p>ID(メールアドレス)</p>
  <input type="text"  class="form-control" name="id">
  <p>パスワード</p>
  <input type="password" class="form-control" class="form-control" name="pass">
	<input type="submit"  class="form-control" value="ログイン">
</form>
</div>
{% endblock %}